
:root {
  --primary-color: #ee7d23;
  --light1-accent-color: #ffffff ;
  --light2-accent-color: #ffcb92 ;
  --light3-accent-color: #ffe5c9;
  --dark1-accent-color: #a76319;
  --dark2-accent-color: #786d67;
  --dark3-accent-color: #000;
  --heading-font: 'Poppins', sans-serif;
  --paragraph-font:  'Poppins', sans-serif;
}

body, button, input {
  font-family: var(--paragraph-font);
}

body {
  background-color: var(--light1-accent-color);
}

nav {
  display: none;
}

nav a {
  padding: 0 1rem;
  text-decoration: none;
  color: var(--dark1-accent-color);
}
nav a:hover {
  color: var(--dark1-accent-color);
  background-color: var(--light3-accent-color);
}

.logo_container {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex: 1;
}
header {
  padding: 1rem;
  color: var(--dark1-accent-color);
  background-color: var(--light1-accent-color);
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  z-index: 999999;
}

main section  {
  height: 100svh;
}

main .hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
main section {
  padding-top: 140px;
}
img {
  object-fit: cover;
}

.cta_container {
  padding: 3rem;
  text-wrap: balance;
  background-color: var(--light1-accent-color);
  color: var(--dark1-accent-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
}

.cta_container h1 {
  font-size: 2rem;
  margin: 3rem 0;
}

/* CSS */
.button_cta {
  background-color: var(--primary-color);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: var(--dark3-accent-color);
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  height: 40px;
  line-height: 0.2rem;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 1.5rem 3rem;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  touch-action: manipulation;
}
.button_cta a {
  text-decoration: none;
  color: var(--light2-accent-color);
}

.button_cta:hover,
.button_cta:focus {
  opacity: 0.9;
}

nav {
  padding: 3rem;
  display: flex;
  row-gap: 1rem;
  align-items: center;
  visibility: hidden;
  position: absolute;
  justify-content: flex-start;
  flex-direction: column;
  z-index: 99;
  right: 0;
  background: var(--light1-accent-color);
  transition: all 200ms ease-in-out;
  height: 100vh;
  top: 0;
}
.overlay {
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0,.3);
  z-index: 90;
  opacity: 0;
  visibility: hidden;
  transition: all 200ms ease-in;
}
.show-nav .nav {
  visibility: visible;
}
.show-nav .overlay {
  opacity: 1;
  visibility: visible;
}
.toggle {
  width: 48px;
  height: 48px;
  color: var(--dark1-accent-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  cursor: default;
}
.toggle span {
  display: block;
  margin-top: 0px;
}

.toggler::before {
	content: "☰";
}

.toggler.show-nav::before {
	content: "✖️";
}

#weatherId {
  width: 300px;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 4px;
  background: var(--primary-color);
  color: var(--dark3-accent-color);
  border: 1px solid var(--dark1-accent-color);
  text-align: -webkit-center;
}

section form {
  margin-top: 4rem;
  padding-bottom: 4rem;
}
form {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

form div input {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid var(--light2-accent-color);
  outline: 0;
  font-size: 1.3rem;
  color: var(--dark1-accent-color);
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
input[type="radio"] {
  width: auto;
}
textarea {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  display: block;
}

form {
  color: var(--dark1-accent-color);
}

.menu {
  padding: 1rem;
  text-align: center;
}

.grid_scoots {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 340px));
  grid-template-rows: repeat(auto-fit, minmax(476px, 476px));
  height: 100%;
  gap: 1rem;
  justify-content: center;
  padding-bottom: 1rem;
}
.grid_scoots div {
  padding: 2rem;
  border-radius: 8px;
  border: solid 1px var(--dark1-accent-color);
  color: var(--dark1-accent-color);
}
.grid_scoots div .website {
  color: var(--dark1-accent-color);
}
.grid_scoots div .website:hover {
  color: var(--primary-color);
}

.reservations, .walkin {
  display: flex;
  gap: 1rem;
}

.summary {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem 2rem;
  text-align: center;
  font-size: 2rem;
  color: var(--dark1-accent-color);
  width: 500px;
  margin: 0 auto;
}

.summary li {
  font-size: 1.5rem;
}
.social {
  position: fixed;
  bottom: 20px;
}
.social ul {
  padding: 0px;
  transform: translate(-250px, 0);
}
a {
  text-decoration: none;
}
.social a {
  
  color: var(--light1-accent-color);
}
.social ul li {
  display: block;
  margin: 5px;
  background: var(--primary-color);
  width: 300px;
  text-align: right;
  padding: 10px;
  border-radius: 0 30px 30px 0;
  transition: all 1s;
}
.social ul li:hover {
  transform: translate(110px, 0);
  background: var(--light3-accent-color);
}
.social ul li:hover a {
  color: var(--dark3-accent-color);
}
.social ul li:hover i {
  color: var(--light3-accent-color);
  background: var(--primary-color);
  transform: rotate(360deg);
  transition: all 1s;
}
.social ul li i {
  margin-left: 10px;
  color: var(--primary-color);
  background: var(--dark3-accent-color);
  padding: 10px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 24px;
  transform: rotate(0deg);
}

.contact {
  text-align: center;
}
.contact h2 {
  color: var(--dark1-accent-color);
}