
:root {
  --primary-color: #2CB1E7;
  --light1-accent-color: #737D74 ;
  --light2-accent-color: #F4F3F3 ;
  --dark1-accent-color: #68696B;
  --dark2-accent-color: #2D3954;
  --dark3-accent-color: #1D2331;
  --heading-font: 'Poppins', sans-serif;
  --paragraph-font:  'Poppins', sans-serif;
}

body, button, input {
  font-family: var(--paragraph-font);
}

body {
  background-color: var(--light2-accent-color);
}

nav {
  display: none;
}

nav a {
  padding: 0 1rem;
  text-decoration: none;
  color: var(--dark2-accent-color);
}
nav a:hover {
  color: var(--primary-color);
  background-color: var(--dark2-accent-color);
}

.logo_container {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex: 1;
}
header {
  padding: 1rem;
  color: #F4F3F3;
  background-color: #2D3954;
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  z-index: 999999;
}

main section  {
  height: 100svh;

}

main .hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
main section:first-child {
  padding-top: 116px;
}
img {
  object-fit: cover;
}

.cta_container {
  padding: 3rem;
  text-wrap: balance;
  background-color: var(--light2-accent-color);
  color: var(--dark2-accent-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
}

.cta_container h1 {
  font-size: 2rem;
  margin: 3rem 0;
}

/* CSS */
.button_cta {
  background-color: var(--primary-color);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: var(--light2-accent-color);
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  height: 40px;
  line-height: 0.2rem;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 1.5rem 3rem;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.button_cta a {
  text-decoration: none;
  color: var(--light2-accent-color);
}

.button_cta:hover,
.button_cta:focus {
  opacity: 0.9;
}

.events_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
  justify-content: center;
  align-items: stretch;
  gap: 1rem;
  margin: 3rem;
}

.card {
  padding: 2rem;
  border-radius: 8px;
  border: solid 1px var(--dark2-accent-color);
  color: var(--dark2-accent-color);
}

nav {
  padding: 3rem;
  display: flex;
  row-gap: 1rem;
  align-items: center;
  visibility: hidden;
  position: absolute;
  justify-content: flex-start;
  flex-direction: column;
  z-index: 99;
  right: 0;
  background: var(--light2-accent-color);
  transition: all 200ms ease-in-out;
  height: 100vh;
  top: 0;
}
.overlay {
  width: 100%;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0,.3);
  z-index: 90;
  opacity: 0;
  visibility: hidden;
  transition: all 200ms ease-in;
}
.show-nav .nav {
  visibility: visible;
}
.show-nav .overlay {
  opacity: 1;
  visibility: visible;
}
.toggle {
  width: 48px;
  height: 48px;
  color: var(--light2-accent-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  cursor: default;
}
.toggle span {
  display: block;
  margin-top: 0px;
}

.toggler::before {
	content: "☰";
}

.toggler.show-nav::before {
	content: "✖️";
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--dark3-accent-color);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "🌑";
  height: 26px;
  width: 26px;
  font-size: 19px;
  left: 4px;
  bottom: 4px;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--light2-accent-color);
}
input:checked + .slider:before{
  content: "☀️";
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--light2-accent-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

section form {
  margin-top: 4rem;
  padding-bottom: 4rem;
}
form {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

form div input {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid var(--light1-accent-color);
  outline: 0;
  font-size: 1.3rem;
  color: var(--dark2-accent-color);
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
input[type="radio"] {
  width: auto;
}
textarea {
  max-width: 100%;
}

form {
  color: var(--dark2-accent-color);
}

.thankyou_container {
  width: 100%;
  text-align: center;
  height: 4rem;
  overflow: hidden;
  padding: 0;
  margin-top: 3rem;
  margin-bottom: 1rem;
}


.thankyou {
  animation: 2s anim-lineUp ease-out infinite;
}
@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.menu {
  padding: 1rem;
  text-align: center;
}

.grid_members {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 340px));
  grid-template-rows: repeat(auto-fit, minmax(376px, 376px));

  gap: 1rem;
  justify-content: center;
}
.grid_members div {
  padding: 2rem;
  border-radius: 8px;
  border: solid 1px var(--dark2-accent-color);
  color: var(--dark2-accent-color);
}
.grid_members div .website {
  color: var(--dark2-accent-color);
}
.grid_members div .website:hover {
  color: var(--primary-color);
}
.list_members {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  max-width: 300px;
  margin: 0 auto;
  gap: 8px;

}

.list_members div img {
  display: none;
}

.list_members div {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  border: solid 1px var(--dark2-accent-color);
  padding: 1rem;
  border-radius: 6px;
}
.list_members div .phone {
  flex: 1;
  text-align: center;
}
.list_members div .website {
  flex: 1;
  text-align: end;
  color: var(--dark2-accent-color);
}

.list_members div .website:hover {
  color: var(--primary-color);
}