@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --primary-color: #2CB1E7;
  --light1-accent-color: #737D74 ;
  --light2-accent-color: #F4F3F3 ;
  --dark1-accent-color: #68696B;
  --dark2-accent-color: #2D3954;
  --dark3-accent-color: #1D2331;
  --heading-font: 'Poppins', sans-serif;
  --paragraph-font:  'Poppins', sans-serif;
}


/*  Look around below...but DON'T CHANGE ANYTHING! */

img {
  object-fit: contain;
  display: block;
  margin: 0;
}

body {
  display: grid;
  height: 100vh;
  max-width: 1080px;
  margin: 0 auto;
  grid-template-columns: auto;
  grid-template-rows: auto;
  font-family: var(--paragraph-font);
}

nav a {
  padding: 0 1rem;
  text-decoration: none;
  color: var(--light2-accent-color);
}
nav a:hover {
  color: var(--primary-color);
  background-color: var(--dark2-accent-color);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
}

header {
  background: var(--dark2-accent-color);
  color: var(--light2-accent-color);
  padding: 2rem;
  grid-column: 1 / 4;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
iframe {
  width: 100%;
}
@media screen and (max-width: 500px) {
  nav {
    background: var(--dark3-accent-color);
    width: 270px;
    height: 100vh;
    left: -270px;
    top: 0;
    position: fixed;
    padding: 20px 0;
    box-shadow: 0 2px 4px var(--dark3-accent-color);
    transition: all 200ms ease-in-out;
    z-index: 99;
    display: flex;
    row-gap: 1rem;
    flex-direction: column;
  }
  nav a {
    margin: 0 0.2rem;
  }
}
.toggle {
  position: absolute;
  left: 100%;
  background-color: var(--dark3-accent-color);
  width: 40px;
  height: 40px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  cursor: default;
}
.toggle span {
  display: block;
  margin-top: 0px;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0,.3);
  z-index: 90;
  opacity: 0;
  visibility: hidden;
  transition: all 200ms ease-in;
}
.show-nav .nav {
  left: 0;
}
.show-nav .overlay {
  opacity: 1;
  visibility: visible;
}

.toggler::before {
	content: "☰";
}

.toggler.show-nav::before {
	content: "✖️";
}


main {
  grid-column: 1 / 4;
  padding: 0 1rem;

}
main h2, main h3 {
  margin: 0;
  padding: 1rem 0;
  text-align: center;
}

main h3 {
  background: var(--dark2-accent-color);
  color: var(--light2-accent-color);
}

.card {
  border: solid 1px var(--dark1-accent-color);
  -webkit-box-shadow: 4px 4px 10px 0px var(--dark2-accent-color);
  -moz-box-shadow: 4px 4px 10px 0px var(--dark2-accent-color);
  box-shadow: 4px 4px 10px 0px var(--dark2-accent-color);
  border-radius: 0.4rem;
  margin: 1rem 0;
}
.card h3 {
  border-radius: 0.3rem 0.3rem 0 0;
}

footer {
  background: var(--dark2-accent-color);
  color: var(--light2-accent-color);
  padding: 2rem;
  text-align: center;
  grid-column: 1 / 4;
}

.container {
  display: block;
}